.main-page__wrapper {
  width: 100%;

  .main-page__inner {
    max-width: var(--desctop-width);
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media (min-width:1024px) {
  .main-page__wrapper {
    .main-page__inner {
      padding: 0 5px;

      .news-list__wrapper {
        margin-bottom: 150px;
      }
    }
  }
}


@media (min-width:1440px) {}